<table style='width: 100%; padding: 45px 35px; box-sizing: border-box;'>
  <tr>
    <td style='font-family: 18px; text-align: center'>
      Welcome Back! We're excited to see you again.</td>
  </tr>
  <tr>
    <td style='text-align: center;'>
      <p style='margin: 17px 0 0;'>We noticed you've returned to our platform. If you're looking for something specific, click the button below to explore:</p>
      <a
        href='{{frontUrl}}/old-visit?token={{actionToken}}'
        style='display: inline-block; padding: 10px 20px; background-color: #008CBA; color: white; text-decoration: none; border-radius: 5px;'
      >EXPLORE NOW</a>
    </td>
  </tr>
</table>
